<footer>
  <section class="w3l-footers-20">
    <div class="footers20">
      <div class="container">
        <div class="footers20-content">
          <div class="d-grid grid-col-4 grids-content">
            <div class="column">
              <h4>客服專區</h4>
              <a class="foot" href="mailto:mail@example.com">
                <p>聯絡我們</p>
                <p class="contact-mail mt-1"><span class="lnr lnr-envelope"></span>service_business@tibame.com</p>
              </a>
              <a class="foot" href="tel:+1-2345-678-11">
                <p class="contact-phone mt-2"><span class="lnr lnr-phone-handset"></span> +1-2345-678-11
                </p>
              </a>
              <a class="foot" href="contact.html">
                <p> 常見問題</p>
              </a>
            </div>
            <div class="column">
              <h4>師資團隊</h4>
              <a class="foot" href="coach.html">
                <p class="coach-list mt-2"><span class="lnr lnr-coach-handset"></span> 教練介紹
                </p>
              </a>
              <a class="foot" href="course.html">
                <p class="classes-list mt-2"><span class="lnr lnr-classes-handset"></span> 團課介紹
                </p>
              </a>
              <a class="foot" href="course.html">
                <p class="classes-list mt-2"><span class="lnr lnr-classes-mounth"></span> 當月課表
                </p>
              </a>
            </div>

            <div class="column">
              <h4>商城</h4>
              <a class="foot" href="優惠活動列表">
                <p>優惠活動</p>
              </a>

            </div>
            <div class="column">
              <h4>營業時間</h4>
              <p>We are working on</p>
              <p class="mt-1"><span class="lnr lnr-clock"></span> <strong>Mon - Fri</strong> : 7am to 9pm
              </p>
              <p class="mt-1"><span class="lnr lnr-clock"></span> <strong>Sat - Sun</strong> : 10 am to 8
                pm
              </p>
              <p class="contact-map mt-2"><span class="lnr lnr-map-marker"></span>場館位置</p>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.2490359444073!2d121.22244777443302!3d24.957640341363774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346823ea50c732a5%3A0x1b5e6ee66e9fec49!2z57ev6IKyVGliYU1l6ZmE6Kit5Lit5aOi6IG36KiT5Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1684388144187!5m2!1szh-TW!2stw"
                width="280" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
          </div>
          <div class="d-grid grid-col-3 grids-content1 bottom-border">
            <div class="columns copyright-grid align-self">
              <p class="copy-footer-29">© 2023 Workout | Designed by no.7 team</p>
            </div>
            <div class="columns text-lg-right social-grid">
              <ul class="social">
                <li><a href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                <li><a href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                <li><a href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 回到最頂部button -->
    <button onclick="topFunction()" id="movetop" title="Go to top" class="bg-dark">
      &#10548;
    </button>
</footer>