<!--header-->
<header id="site-header" class="fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg stroke">
      <h1> <a class="navbar-brand" href="index.html">
          <span class="lnr lnr-bicycle"></span> Give Me Gym</a></h1>
      <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">首頁<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item @@about__active">
            <a class="nav-link" href="coach.html">私人教練</a>
          </li>
          <li class="nav-item @@classes__active">
            <a class="nav-link" href="course.html">團課課程</a>
          </li>
          <li class="nav-item @@contact__active">
            <a class="nav-link" href="contact.html">線上商城</a>
          </li>
          <li class="nav-item @@contact__active">
            <a class="nav-link" href="contact.html">常見問題</a>
          </li>
          <li class="nav-item @@contact__active">
            <a class="nav-link" href="contact.html">會員中心</a>
          </li>
          <!--/search-right-->
          <div class="search-right">
            <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
            <!-- search popup -->
            <div id="search" class="pop-overlay">
              <div class="popup">

                <form action="#" method="GET" class="search-box">
                  <input type="search" placeholder="Enter Keyword" name="search" required="required" autofocus="">
                  <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
                </form>

              </div>
              <a class="close" href="#close">×</a>
            </div>
            <!-- /search popup -->
          </div>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--/header-->