<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <tr th:each="CourseScheduleVo:${courseshowoffList}">
 <td th:text="${CourseScheduleVo.COURSESCHEDULE_ID}"></td>
  <td th:text="${CourseScheduleVo.REGISTRATIONPERIOD_ID}"></td>
   <td th:text="${CourseScheduleVo.COACH_ID}"></td>
    <td th:text="${CourseScheduleVo.COURSESCHEDULE_DATE}"></td>
     <td th:text="${CourseScheduleVo.COURSESCHEDULE_TIME}"></td>
     </tr>
 
 
 
</body>
</html>