<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="assets/css/style-starter.css">

<!-- bootstrap5 CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

<head>
    <title>員工後台</title>
    <style>
        body {
            background-color: #fef8f0f9;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        .header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }

        .logo {
            font-size: 36px;
            font-weight: bold;
            color: #ff0000;
            padding: 0px 10px;

        }

        .user {
            display: flex;
            align-items: center;
        }

        .user .name {
            margin-right: 10px;
            color: #5f5d5d;
        }

        .sidebar {
            width: 130px;
            background-color: #5f5d5d;
            opacity: 0.8;
            padding: 10px 15px;
            margin: 0px 20px;
            float: left;
        }

        .sidebar h1 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #fef8f0f9;
            cursor: pointer;
            text-align: left;
        }

        .sidebar h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #fef8f0f9;
            cursor: pointer;
            text-align: left;
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: none;
        }

        .sidebar li {
            margin-bottom: 10px;
            text-align: center;
        }

        .sidebar li a {
            color: #fff;
            text-decoration: none;
        }

        .sidebar li a:hover {
            color: #aaa;
        }

        .submenu {
            margin-left: 10px;
        }

        .submenu ul {
            margin-top: 10px;
            padding-left: 20px;
            background-color: #fff;
            color: #000;
            display: none;
        }

        .submenu li {
            margin-bottom: 5px;
        }

        .btn-style {
            padding: 10px 32px;
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            transition: 0.3s ease-in;
            border-radius: 6px;
        }

        .btn-primary {
            color: #fff;
            background-color: #ff0000;
            border-color: #ff0000;
        }

        .m-4 {
            margin: 1.5rem !important;
        }

        .content {
            margin-left: 320px;
        }

        .content iframe {
            width: 100%;
            height: 100%;
            border: none;
        }

        .error {
            color: red;
        }

    </style>

</head>

<body>
<header class="header">
    <div class="logo">Give Me Gym</div>
    <div class="user">
        <div class="name">User Name</div>
        <button>登出</button>
    </div>
</header>
<div class="body-Content" style="display: flex;">
    <div class="sidebar">
        <h1 id="back-idex"><a class="nav-link" href="/GiveMeGym/backend/index">首頁</a></h1>

        <h2 class="sidebartitle">員工管理</h2>
        <ul style="display: none;">
            <li class="nav-item"><a class="nav-link" href="/backend_employee/addEmployee">新增員工</a></li>
            <li class="nav-item"><a class="nav-link" href="/backend_employee/listAll">查詢員工</a></li>
        </ul>

        <h2 class="sidebartitle">會員管理</h2>
        <ul style="display: none;">
            <li class="nav-item"><a class="nav-link" href="/backend_Member/listAllMember">查詢會員</a></li>
            <li class="nav-item"><a class="nav-link" href="/backend_Member/listAllMemberStatus">會員權限</a></li>
        </ul>

        <h2 class="sidebartitle">商城管理</h2>
        <ul style="display: none;">
            <li class="nav-item"><a class="nav-link" href="/getAllProduct">商品管理</a></li>
            <li class="nav-item"><a class="nav-link" href="/getAllOrder">訂單管理</a></li>
        </ul>

        <h2 class="sidebartitle"><a class="nav-link" href="/coach/adm/list">教練管理</a></h2>

        <h2 class="sidebartitle"><a class="nav-link" href="/backend_period/listAll">團課管理</a></h2>

        <h2 class="sidebartitle"><a class="nav-link" href="/backend_faq/listAll">FAQ管理</a></h2>
    </div>


    <div class="container py-5">
        <div class="row">
            <h3 class="text-dark mb-4 text-center">團課管理</h3>
            <div class="col-lg-10 col-sm-10 m-auto">
                <div class="bg-white shadow border-top border-dark border-3 p-3 p-sm-5 rounded">
                    <div class="text-center mb-5">
                        <h4 class="rounded-pill border border-5 text-dark">新增團課</h4>
                    </div>

                    <form th:action="@{/backend_period/save}" method="post" enctype="multipart/form-data"
                          id="form" class=" needs-validation row text-dark" novalidate>

                        <div class="col-md-12">
                            <label class="form-label">團課課程</label>
                            <select class="form-select" th:field="*{form.period.course.courseId}" id="course">
                                <option th:each="course : ${courseListData}"
                                        th:value="${course.courseId}"
                                        th:text="${course.courseName}"></option>
                            </select>
                            <div class="invalid-feedback">
                                請選擇團課課程
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">人數上限</label>
                            <input type="text" class="form-control" th:field="*{form.period.peopleUpper}" required>
                            <div class="invalid-feedback">
                                請設定人數上限
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">人數下限</label>
                            <input type="text" class="form-control" th:field="*{form.period.peopleLower}" required>
                            <div class="invalid-feedback">
                                請設定人數下限
                            </div>

                        </div>

                        <div class="col-md-6">
                            <label class="form-label">報名開始日期</label>
                            <input class="form-control" th:field="*{form.period.courseOrderBe}" name="A_date1"
                                   id="A_date1" type="text" required>
                            <div class="invalid-feedback">
                                請設定報名開始日期
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">報名截止日期</label>
                            <input name="B_date2" id="B_date2" type="text" class="form-control"
                                   th:field="*{form.period.courseOrderEn}" required>
                            <div class="invalid-feedback">
                                請設定報名截止日期
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">團課費用</label>
                            <input type="text" class="form-control" th:field="*{form.period.coursePrice}" required>
                            <div class="invalid-feedback">
                                請設定團課費用
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">團課堂數</label>
                            <input type="text" class="form-control" th:field="*{form.period.courseNumber}"
                                   id="courseNumber" required>
                            <div class="invalid-feedback">
                                請設定團課堂數
                            </div>
                        </div>

                        <div class="col-md-6" name="coachContainer">
                            <label class="form-label">教練</label>
                            <select class="form-control" th:field="${form.courseSchedules[0].coach}"
                                    id="coach1" required>
                                <option th:each="coach: ${coachListData}"
                                        th:value="${coach.coachId}"
                                        th:text="${coach.coachName}"></option>
                            </select>
                            <div class="invalid-feedback">
                                請選擇教練
                            </div>
                        </div>
                        <div class="col-md-6" name="dateContainer">
                            <label class="form-label">上課日期</label>

                            <input class="form-control"
                                   th:field="${form.courseSchedules[0].courseScheduleDate}"
                                   name="D_date3" id="D_date3" type="text" required>
                            <div class="invalid-feedback">
                                請選擇上課日期
                            </div>
                        </div>
                        <div class="col-md-6" name="timeContainer">
                            <label class="form-label">上課時段</label>
                            <select class="form-select" th:field="${form.courseSchedules[0].courseScheduleTime}"
                                    id="courseScheduleTime1" required>
                                <option value="早">早</option>
                                <option value="中">中</option>
                                <option value="晚">晚</option>
                            </select>
                            <div class="invalid-feedback">
                                請選擇上課時段
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="col-md-6" name="coachContainer">
                            <label class="form-label">教練</label>
                            <select class="form-control" th:field="${form.courseSchedules[1].coach}"
                                    id="coach2" required>
                                <option th:each="coach: ${coachListData}"
                                        th:value="${coach.coachId}"
                                        th:text="${coach.coachName}"></option>
                            </select>
                            <div class="invalid-feedback">
                                請選擇教練
                            </div>
                        </div>

                        <div class="col-md-6" name="dateContainer">
                            <label class="form-label">上課日期</label>
                            <input class="form-control"
                                   th:field="${form.courseSchedules[1].courseScheduleDate}"
                                   name="D_date4" id="D_date4" type="text" required>
                            <div class="invalid-feedback">
                                請選擇上課日期
                            </div>
                        </div>
                        <div class="col-md-6" name="timeContainer">
                            <label class="form-label">上課時段</label>
                            <select class="form-select" th:field="${form.courseSchedules[1].courseScheduleTime}"
                                    id="courseScheduleTime2" required>
                                <option value="早">早</option>
                                <option value="中">中</option>
                                <option value="晚">晚</option>
                            </select>
                            <div class="invalid-feedback">
                                請選擇上課時段
                            </div>
                        </div>
                        <hr class="my-4">
                        <!--                        <div class="col-md-6" name="coachContainer">-->
                        <!--                            <label class="form-label">教練</label>-->
                        <!--                            <select class="form-control" th:field="${form.courseSchedules[2].coach}"-->
                        <!--                                    id="coach3" required>-->
                        <!--                                <option th:each="coach: ${coachListData}"-->
                        <!--                                        th:value="${coach.coachId}"-->
                        <!--                                        th:text="${coach.coachName}"></option>-->
                        <!--                            </select>-->
                        <!--                            <div class="invalid-feedback">-->
                        <!--                                請選擇教練-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-md-6" name="dateContainer">-->
                        <!--                            <label class="form-label">上課日期</label>-->
                        <!--                            <input class="form-control"-->
                        <!--                                   th:field="${form.courseSchedules[2].courseScheduleDate}"-->
                        <!--                                   name="D_date5" id="D_date5" type="text" required>-->
                        <!--                            <div class="invalid-feedback">-->
                        <!--                                請選擇上課日期-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-md-6" name="timeContainer">-->
                        <!--                            <label class="form-label">上課時段</label>-->
                        <!--                            <select class="form-select" th:field="${form.courseSchedules[2].courseScheduleTime}"-->
                        <!--                                    id="courseScheduleTime3" required>-->
                        <!--                                <option value="早">早</option>-->
                        <!--                                <option value="中">中</option>-->
                        <!--                                <option value="晚">晚</option>-->
                        <!--                            </select>-->
                        <!--                            <div class="invalid-feedback">-->
                        <!--                                請選擇上課時段-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <hr class="my-4">-->
                        <!--                        <div class="col-md-6" name="coachContainer">-->
                        <!--                            <label class="form-label">教練</label>-->
                        <!--                            <select class="form-control" th:field="${form.courseSchedules[3].coach}"-->
                        <!--                                    id="coach4" required>-->
                        <!--                                <option th:each="coach: ${coachListData}"-->
                        <!--                                        th:value="${coach.coachId}"-->
                        <!--                                        th:text="${coach.coachName}"></option>-->
                        <!--                            </select>-->
                        <!--                            <div class="invalid-feedback">-->
                        <!--                                請選擇教練-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-md-6" name="dateContainer">-->
                        <!--                            <label class="form-label">上課日期</label>-->
                        <!--                            <input class="form-control"-->
                        <!--                                   th:field="${form.courseSchedules[3].courseScheduleDate}"-->
                        <!--                                   name="D_date6" id="D_date6" type="text" required>-->
                        <!--                            <div class="invalid-feedback">-->
                        <!--                                請選擇上課日期-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-md-6" name="timeContainer">-->
                        <!--                            <label class="form-label">上課時段</label>-->
                        <!--                            <select class="form-select" th:field="${form.courseSchedules[3].courseScheduleTime}"-->
                        <!--                                    id="courseScheduleTime4" required>-->
                        <!--                                <option value="早">早</option>-->
                        <!--                                <option value="中">中</option>-->
                        <!--                                <option value="晚">晚</option>-->
                        <!--                            </select>-->
                        <!--                            <div class="invalid-feedback">-->
                        <!--                                請選擇上課時段-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <hr class="my-4">
                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-dark btn-lg" id="check">確認</button>
                        </div>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


<!--Jquery-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<!-- 驗證 -->
<script th:src="@{/course_44/js/addPeriod-vail.js}"></script>

<!-- bootstrap5 CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

<!--dateTimePicker-->
<link rel="stylesheet" type="text/css" th:href="@{/course_44/css/jquery.datetimepicker.css}"/>
<script th:src="@{/course_44/js/jquery.datetimepicker.full.js}"></script>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const headings = document.querySelectorAll('.sidebar h2.sidebartitle');

        headings.forEach((heading) => {
            heading.addEventListener('click', (event) => {
                const subMenu = event.target.nextElementSibling;
                subMenu.style.display = subMenu.style.display === 'none' ? 'block' : 'none';
            });
        });
    });
</script>

<script>
    window.onload = function () {
        hideAllContainers();
    };

    document.getElementById('courseNumber').addEventListener('input', function () {
        var courseNumber = parseInt(this.value);
        var coachContainers = document.getElementsByName('coachContainer');
        var dateContainers = document.getElementsByName('dateContainer');
        var timeContainers = document.getElementsByName('timeContainer');

        hideAllContainers();

        for (var i = 0; i < courseNumber; i++) {
            if (coachContainers[i]) {
                coachContainers[i].style.display = 'block';
            }
            if (dateContainers[i]) {
                dateContainers[i].style.display = 'block';
            }
            if (timeContainers[i]) {
                timeContainers[i].style.display = 'block';
            }
        }
    });

    function hideAllContainers() {
        var coachContainers = document.getElementsByName('coachContainer');
        var dateContainers = document.getElementsByName('dateContainer');
        var timeContainers = document.getElementsByName('timeContainer');


        for (var i = 0; i < coachContainers.length; i++) {
            coachContainers[i].style.display = 'none';
            dateContainers[i].style.display = 'none';
            timeContainers[i].style.display = 'none';
        }
    }
</script>


<!--datetimepicker-->
<script>
    $.datetimepicker.setLocale('zh'); // kr ko ja en
    $(function () {
        $('#A_date1').datetimepicker({
            format: 'Y-m-d',
            onShow: function () {
                this.setOptions({
                    maxDate: $('#B_date2').val() ? $('#B_date2').val() : false
                })
            },
            timepicker: false,
            minDate: new Date()
        });

        $('#B_date2').datetimepicker({
            format: 'Y-m-d',
            onShow: function () {
                this.setOptions({
                    minDate: $('#A_date1').val() ? $('#A_date1').val() : false,
                    maxDate: $('#D_date3').val() ? $('#D_date3').val() : false
                })
            },
            timepicker: false
        });

        $('#D_date3').datetimepicker({
            format: 'Y-m-d',
            onShow: function () {
                this.setOptions({
                    maxDate: $('#D_date4').val() ? $('#D_date4').val() : false,
                    minDate: $('#B_date2').val() ? $('#B_date2').val() : false
                })
            },
            timepicker: false
        });

        $('#D_date4').datetimepicker({
            format: 'Y-m-d',
            onShow: function () {
                this.setOptions({
                    minDate: $('#D_date3').val() ? $('#D_date3').val() : false
                })
            },
            timepicker: false
        });
        $('#D_date5').datetimepicker({
            format: 'Y-m-d',
            onShow: function () {
                this.setOptions({
                    minDate: $('#D_date4').val() ? $('#D_date4').val() : false
                })
            },
            timepicker: false
        });
        $('#D_date6').datetimepicker({
            format: 'Y-m-d',
            onShow: function () {
                this.setOptions({
                    minDate: $('#D_date5').val() ? $('#D_date5').val() : false
                })
            },
            timepicker: false
        });
    });
</script>
<!-- 後台 -->
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const headings = document.querySelectorAll('.sidebar h2');

        headings.forEach((heading) => {
            heading.addEventListener('click', (event) => {
                const subMenu = event.target.nextElementSibling;
                subMenu.style.display = subMenu.style.display === 'none' ? 'block' : 'none';
            });
        });
    });
</script>


<script>

    $(document).ready(function () {
        $("#check").click(function () {
            check();
        });
    });

    function check() {
        const courseSchedules = [];
        const courseNumber = document.querySelector(`input[id="courseNumber"]`).value;

        for (let i = 1; i <= parseInt(courseNumber); i++) {
            const coach = document.querySelector(`select[id="coach${i}"]`);
            const coachValue = coach.value;

            const date = document.querySelector(`input[id="D_date${i + 2}"]`);
            const dateValue = date.value;
            const time = document.querySelector(`select[id="courseScheduleTime${i}"]`);
            const timeValue = time.value;

            const schedule = {
                coach: coachValue,
                courseScheduleDate: dateValue,
                courseScheduleTime: timeValue,
            };

            courseSchedules.push(schedule);
        }

        const form = document.querySelector("#form");
        if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            form.classList.add("was-validated");
            return;
        }

        $.ajax({
            url: "/frontend_period/checkSchedule",
            method: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({courseSchedule: courseSchedules}),
            success: function (response) {
                if (response === true) {
                    alert("新增成功");
                    form.submit();
                } else if (Array.isArray(response) && response.length > 0) {
                    let message = "已有時段:\n";
                    response.forEach(function (schedule) {
                        const coach = schedule.coach.coachName;
                        const date = schedule.courseScheduleDate;
                        const time = schedule.courseScheduleTime;
                        message += "教練: " + coach + ", 時段: " + time + ", 日期: " + date + "\n";
                    });
                    alert(message);
                } else {
                    alert("未知錯誤");
                }
            },
        });
    }

</script>


</body>

</html>