html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/* h1, */
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.9;
    color: #999;
}

/* ul {
    margin: 0;
    padding: 0;
} */

label {
    margin: 0;
}


/*-- top products --*/
.product_list_header {
    float: right;
}

.snipcart-details {
    width: 77%;
    margin: 0 auto;
}

.btn-danger.my-cart-btn:focus {
    outline: none;
}

.snipcart-details input.button {
    font-size: 13px;
    color: #fff;
    background: #FF0000;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.snipcart-details input.button:hover {
    background: #000;
}

.product_list_header input.button {
    color: #fff;
    font-size: 14px;
    outline: none;
    text-transform: capitalize;
    padding: .5em 2.5em .5em 1em;
    border: 1px solid #fe9126;
    margin: .35em 0 0;
    background: url(images/cart.png) no-repeat 116px 9px;
}

.product-men .product-container {
    margin-top: 2em;
}

.men-pro-item {
    position: relative;
}

.men-thumb-item {
    position: relative;
}

/*-- effect on products --*/
.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
}

.product-men:nth-child(3) .product-new-top .product-container {
    background: #FFC107;
}

.product-men:nth-child(4) .product-new-top .product-container {
    background: #219ff3;
}

.product-new-top {
    background: #FFC107;
    color: #fff;
    right: 0;
    position: absolute;
    top: 0;
    width: 45px;
    font-size: 13px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    line-height: 3.3;
}

.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro ul {
    left: 0;
    margin: -60px 0 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    bottom: -40px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}

.link-product-add-cart {
    background: #FF5722;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro>ul>li {
    display: inline-block;
}

.inner-men-cart-pro ul li a {
    color: #fff;
    transition: all 0.5s ease-out 0s;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
}

.men-thumb-item:hover {
    cursor: pointer;
}

.men-thumb-item:hover::before {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item:hover .men-cart-pro {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item:hover .inner-men-cart-pro ul {
    margin: 20px 0 0;
}

.inner-men-cart-pro ul li a:hover {
    background: #ffc229 none repeat scroll 0 0;
}

.inner-men-cart-pro .link-product-add-cart {
    width: 61%;
    top: 0;
    left: 17%;
    margin: 0 auto;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}

.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 73%;
}

.link-product-add-cart:hover {
    background: #000;
    color: #fff;
}

/*-- //effect on products --*/
/*-- product right --*/
.product-sec1 {
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding: 30px 20px;
    margin-bottom: 14px;
}

h3.heading-tittle {
    text-align: center;
    color: #000;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

.men-thumb-item {
    text-align: center;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.item-info-product {
    margin-top: 40px;
    text-align: center;
}

.item-info-product h4 a {
    color: #000;
    font-size: 17px;
    letter-spacing: 1px;
}

.info-product-price {
    margin: 12px 0;
}

span.item_price {
    font-size: 18px;
    color: #d60404;
}



/*--//responsive--*/
.product-details {
    margin: 0;
    display: flex;
    align-items: center;

    justify-content: flex-end;
}

.prev-button,
.next-button {
    order: 1;
    flex-basis: 50px;
    margin-bottom: 10px;

    background-color: #2f2e2c;
    color: white;
    border: none;
    border-radius: 4px;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-category {
    font-size: 18px;
    color: #999;
}

.product-description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-options {
    margin-top: 20px;
    margin-left: 40px;
    flex-basis: 60%;
}

.product-options label {
    display: inline-block;
    margin-right: 10px;
}

.product-options input[type="number"] {
    width: 60px;
}

.btn-container {
    display: inline-flex;
}

.add-to-cart {
    display: block;
    margin: 10px 20px 10px 0;
    padding: 10px 20px;
    background-color: #ff0000;
    cursor: pointer;

    font-size: 13px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;

    text-align: center;

    width: 120px;
}

.add-to-checkout {
    display: block;
    margin: 10px 20px 10px 0;
    padding: 10px 20px;
    background-color: #ff0000;
    cursor: pointer;

    font-size: 13px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;

    text-align: center;

    width: 120px;

}

.image-container img {
    display: none;
}

.image-container img.active {
    display: block;
}

.prev-button {
    position: absolute;
    left: 0;
    bottom: 0;


}

.next-button {
    position: absolute;
    right: 0;
    bottom: 0;

}

.image-container {
    max-width: 100%;
    height: auto;

    flex-basis: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    margin-left: 60px;
}

img.shop {
    width: 100%;
    height: 100%;
}

.sidebar {
    background-color: white;
    width: 15%;
    float: left;
    padding: 20px;

    position: sticky;
    top: 100px;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#category-filter {
    margin-top: 20px;
    margin-bottom: 40px;

    font-size: 13px;
    color: #fff;
    background: #ff4040;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    width: 80%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;

    text-align: center;
}

#sort-asc {
    margin-top: 20px;
    margin-bottom: 5px;

    font-size: 13px;
    color: #fff;
    background: #ff4040;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 4px;
    width: 80%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;

}

#sort-desc {
    margin-top: 20px;
    margin-bottom: 5px;


    font-size: 13px;
    color: #fff;
    background: #ff4040;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 4px;
    width: 80%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;

}

.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cart_btn {
    font-size: 13px;
    color: #fff;
    background: #ff4040;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 4px;
    width: 80%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
}

.product-men {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

th:first-child,
td:first-child {
    width: 20%;
}

img.shopCart {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.total-price {
    text-align: right;
    margin-top: 20px;
}

.checkout-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.remove-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #ff6738;
}

#pd-quantity {
    width: 50px;
    /* 調整寬度的數值根據需求自行調整 */
}

.checkout-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkout-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.checkout-form input[type="text"],
.checkout-form input[type="email"],
.checkout-form input[type="tel"],
.checkout-form input[type="number"] {
    width: 200px;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkout-form input[type="submit"] {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    align-self: flex-end;
    margin-top: 10px;

    font-weight: 600;
}

.checkout-form input[type="submit"]:hover {
    background-color: #da5151;
}

.payInfo .payInfo-title {
    margin-top: 10px;
    margin-bottom: 20px;

}

.payInfo-inputs label {
    display: inline-block;
    width: 120px;
    /* 調整標籤的寬度，根據需要自行調整 */
    vertical-align: top;
    /* 將標籤與輸入框上對齊，可根據需要調整對齊方式 */
    margin-left: 20px;
    margin: 10px 10px;
}

.payInfo-inputs input[type="text"] {
    width: 200px;
    /* 調整輸入框的寬度，根據需要自行調整 */
    margin-bottom: 10px;
    margin-left: 0;
}

.payInfo button,
.payInfo .payInfo-title {
    display: inline-block;
    vertical-align: middle;
    /* 對齊方式可根據需要自行調整 */
}

.payInfo button {
    margin: 10px 0 20px 20px;
    /* 調整按鈕和標題之間的間距，可根據需要自行調整 */

    background-color: #ff0000;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;

    height: 45px;

}

.payInfo-inputs {
    margin-top: 10px;
}

.body-Content {
    display: flex;
}

section.shop-order {
    margin: 40px 60px 40px 60px;
}

.shop-order {
    flex: 1;
    position: relative;
}

table.shop-order {
    width: 80%;
    border-collapse: collapse;
}

th.shop-order,
td.shop-order {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

thead.shop-order th.shop-order-th {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.payInfo {
    flex-direction: column;
}

.submit_order {
    margin-top: 30px;

    background-color: #ff0000;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;

    height: 45px;

    align-self: center;
}

.checkout-form {
    display: flex;
    flex-direction: column;
}

