<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/backend_period/saveOrUpdate}" method="post"
		enctype="multipart/form-data" id="form"
		class="needs-validation row text-dark" th:object="${period}"
		novalidate>
		<div class="col-md-6">
			<label class="form-label text-dark">教練技能類別</label> <select
				class="form-select" id="skillId" name="skillName" required>
				<option selected disabled value="">--技能類別--</option>
				<option value="1">有氧</option>
				<option value="2">Zumba</option>
				<option value="3">瑜珈</option>
				<option value="4">皮拉提斯</option>
			</select>
			<div class="invalid-feedback">請選擇技能類別</div>
		</div>

		<hr class="my-4">
		<div class="col-12 text-center">
			<button type="submit" class="btn btn-dark btn-lg" id="check">確認</button>
		</div>
	</form>

</body>
</html>