@charset "UTF-8";
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

.allform {
    vertical-align: middle;
    height: 80%;
    /* width: fit-content; */
    background: #e8e5e2;
}

body {
    background: #e8e5e2;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: orangered;
    transition: .5s ease;
}

a:hover {
    color: darken(orange, 5%);
}

.form {
    background: #fff;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 12px 20px 30px 8px rgba(0, 0, 0, 0.2);
}

.tab-group {
    box-sizing: content-box;
    letter-spacing: 1cm;
    text-align: center;
    height: fit-content;
    font-size: 30px;
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group .tab a {
    border-radius: 0.5ch;
    color: orangered;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1cm;
    font-size: 36px;
}

.tab-group .active1 > a {
    background: orangered;
    color: white;
    box-shadow: #464f4d;
}

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: orangered;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: lightgray;
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: red;
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.highlight {
    color: gray;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 99%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 2px solid #a0b3b0;
    color: #464f4d;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus {
    outline: 0;
    border-color: orangered;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

#birthselect {
    font-size: larger;
}

#year,
#month,
#day,
#region,
#district {
    font-size: 22px;
    width: 32%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #464f4d;
    resize: vertical;
    position: relative;
    margin-bottom: 40px;
}

#region {
    width: 50%;
}

#district {
    width: 49%;
}

#address {
    font-size: larger;
}

.req {
    color: red;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row > div:last-child {
    margin: 0;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: orangered;
    color: white;
    transition: all 0.5s ease;
}

.button:hover,
.button:focus {
    background: darken(orange, 5%);
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}
