/* 全局樣式 */
body {
  font-family: Arial, sans-serif;
  background-color:	#FFEBCD;
/*   padding: 20px; */
}

h1 {
  text-align: center;
  margin-bottom: 10px;
   color: #ff4500;
   font-weight:bold;
}

a {
  color: #FFA500;
  text-decoration: none;
  margin-bottom: 10px;
  font-size:10px;
}

.error {
  color: red;
  margin-top: 5px;
}
.allform{
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 15px;
}
/* 表單樣式 */
.form {
  background-color: #ffffff;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.tab-group{
	 margin-bottom: 30px;
}

.field-wrap {
	color: #696969;
  margin-bottom: 20px;
   font-weight: bold;
}

.field-wrap label {
  color: #696969;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.field-wrap input[type="text"],
.field-wrap input[type="email"],
.field-wrap input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.field-wrap select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.field-wrap input[type="name"]:focus,
.field-wrap input[type="email"]:focus,
.field-wrap input[type="password"]:focus,
.field-wrap select:focus {
  outline: none;
  border-color: #6b9ce8;
}
.field-wrap .select-container {
  display: flex;
  align-items: center;
}

.field-wrap .select-container select {
	 margin-bottom: 8px;
 	 margin-left: 10px;
}

.field-wrap .req {
  color: #ff0000;
}

#birthselect2,#address2{
	margin-top: 8px;
}

#memberDetail{
	margin-top: 15px;
	margin-left: 83px;
	width:80%;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color:#ff4500;
  color: #ffffff;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #FFA500;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* 响應式設計 */
@media (max-width: 600px) {
  .form {
    max-width: 400px;
  }
}
