<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!--//新增表單的部分要新增的網址-->
 <form th:action="@{/backend_courseshowoff/saveOrUpdate}" method="post" enctype="multipart/form-data"
                          id="form" class=" needs-validation row text-dark" th:object="${courseshowoffVo}" novalidate>
<!--     //根據VO上方新增的位置-->
                        <div class="col-md-6">
                            <label class="form-label text-dark">團課類別</label>
                            <select class="form-select" id="CourseShowOffId" name="CourseShowOffId" required  onchange="updateCourseOptions(this.value)">
<!--                            //ID的部分要根據VO的變數ID去做更改，          -->
                                <option selected disabled value="">--團課類別--</option>
                                <option value="aerobic">有氧課程</option>
                                <option value="yoga">瑜珈課程</option>
                                <option value="spinning">飛輪課程</option>
                                <option value="climbing">攀岩</option>
                            </select>
                            <div class="invalid-feedback">
                                請選擇團課類別
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">團課課程</label>
                            <select class="form-select" name="course.courseId" id="course" required>
                                <option selected disabled value="">--請選擇團課課程--</option>
                                <option th:each="course : ${courseListData}" th:value="${course.courseId}"
                                        th:text="${course.courseName}"/>
<!--                                //跳到前端後顯示ID客戶會看沒有，於是要顯示NAME-->
<!--                                //外在是使用courseName，但實質是ID-->
                            </select>
                            <div class="invalid-feedback">
                                請選擇課程
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">人數上限</label>
                            <input type="text" class="form-control" name="peopleUpper" id="peopleUpper" required>
                            <div class="invalid-feedback">
                                請設定人數上限
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">人數下限</label>
                            <input type="text" class="form-control" name="peopleLower" id="peopleLower" required>
                            <div class="invalid-feedback">
                                請設定人數下限
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="start" class="form-label">報名開始日期</label>
                            <div class="input-group" id='start'>
                                <input type="date" name="courseOrderBe" id="courseOrderBe" class="form-control"
                                       required>
                            </div>
                            <div class="invalid-feedback">
                                請設定報名開始日期
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="end" class="form-label">報名截止日期</label>
                            <div class="input-group" id='end'>
                                <input type="date" name="courseOrderEn" id="courseOrderEn" class="form-control"
                                       required>
                            </div>
                            <div class="invalid-feedback">
                                請設定報名截止日期
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">團課費用</label>
                            <input type="text" class="form-control" name="coursePrice" id="coursePrice" required>
                            <div class="invalid-feedback">
                                請輸入團課費用
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">團課堂數</label>
                            <input type="text" class="form-control" name="courseNumber" id="courseNumber" required>
                            <div class="invalid-feedback">
                                請輸入團課堂數
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-dark btn-lg" id="check">確認</button>
                        </div>
                    </form>
</body>
</html>